@tailwind base;
@tailwind components;
@tailwind utilities;
#roulette {
  background-image: linear-gradient(180deg, #005626 0%, #017431 100%);
}

.red {
  background-image: linear-gradient(
    300deg,
    #cf0000 0%,
    rgba(247, 0, 1, 0.9) 100%
  );
}
.black {
  background-image: linear-gradient(
    45deg,
    #070001 43%,
    rgba(35, 37, 32, 0.9) 100%
  );
}
